body {
    background-color: #0d1117;
    color: #e6edf3;
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    padding: 20px;
}
h1 {
    font-size: 36px;
}
h2 {
    margin-bottom:-2px;
}
code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    border-radius: 6px;
    background-color: #343941;
}
pre {
    padding: 16px;
    background-color: #161b22;
    border-radius: 6px;
    border: 1px solid #30363d;
}
a {
    color: #e6edf3;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
img {
    width: 100%;
    height: auto;
}
footer {
    padding: 10px;
}
.listing {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.6;
}
.post {
    max-width: 800px;
    text-align: justify; 
    line-height: 1.6;
    margin: 0 auto;
}
.post h1 {
    font-size: 28px;
}
.post p {
    font-size: 18px;
}
.date {
    font-size: 16px;
}
.no-underline {
    text-decoration: none;
}
.dinkus {
    max-width: 600px;
    margin: 0 auto;
}
